.container-aftergame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35rem;
  width: 100%;
  padding: 10% 3%;
}

.projectsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
