.container-aftergame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 35rem; */
  width: 100%;
  /* padding: 10% 3%; */
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4rem 1rem 4rem;
  gap: 1.5rem;
}

.text-score {
  font-size: 30px;
  font-weight: 300;
  margin: 3rem 0;
}
